
p {
    font-family: Roboto , Arial ;
    margin-top: 0;
    margin-bottom: 0;
    
}
body {
    margin: 0;
    padding-top: 80;
    padding-left: 96;
    padding-right: 24px;
    background-color: rgb(243, 243, 243);

    padding-bottom: 100000px;
}
.thumbnail-row{
  
}
.time{

    bottom: 0;
    right: 0;
}
.nothing{
    font-size: 1px;
}